@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{margin: 0; padding: 0;}

body{
    font-family: 'Nunito', sans-serif;
}

h2, h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;}

a{
    text-decoration: none;
    color:#ECECF1
}
a:hover{
    opacity: 0.8;
}

/*Palheta de cores:
   #070C15 escurin
   #059862 verdin
   #04e100 verdão
   #ECECF1 branquin
   */

header{
    background-color: #070C15;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-bottom: 3px solid #059862;
}

.logo{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-tracks: initial;
}


.navlist{
    list-style: none;
    display: flex;
    justify-content: center;
}

.navlist li {
    letter-spacing: 3px;
    margin-left: 20px;
}


.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-github,
.botao-linkedin {
    margin: 10px;
    margin-top: 14px;
    height: 7vh;
    width: 7vh;
    display: inline-block;
    border-radius: 100%;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/*Imagem e texto dinâmico*/

#bg1 {
    position: relative;
    height: 92vh;
    background-image: url(imagens/auroraverde.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 2px solid #04e100;
}

.container{
    font-family:'Poppins', sans-serif;
    top: 40%;
    left: 30%;
    position: absolute;
    display: inline-flex;
    box-sizing: border-box;}

.container .estatico{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.container .dinamico{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dinamico li{
    color: #04e100;
    list-style: none;
    font-size: 60px;
    font-weight: 500;

    left: 0;
    top: 0;
    position: relative;
    animation: slide 6s steps(4) infinite;
    
}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dinamico li span{
    position: relative; 
    }

.dinamico li span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 2em;
    border-left: 2px solid #04e100;
    
    animation: typing 1.5s steps(10) infinite;
    background-color: rgba(0, 0, 0, 0.21);
}

.dinamico li span{position: relative;}

@keyframes typing{
    100%{
        left: 100%;
    }
}

/*FIM da Imagem*/


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #059862;
    border-radius: 3em;
}


/*Começo do MAIN*/

main{
    color: #ECECF1;
    text-align: center;
    background-color: #070C15;
}

h2{
    font-size: 50px;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 600;}


#full-sobre-mim {
    display: flex;}

#sobre-mim .apresentacao p{
    display: inline-block;
}

#sobre-mim h2{
    padding: 1em;
    padding-top: 2em;
}

#sobre-mim p{
    padding-bottom: 1em;
    margin: auto;
    font-size: 30px;
}

.imagens{
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100%;
    height: 35vh;
    background-color: #060811;
}

#certificados{
    padding-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.certificados{
    cursor: pointer;
    margin: auto;
    width: 20vw;
    height: 30vh;
}

.linguagens {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linguagem{
    display: flexbox;
    
    width: 120px;
    height: 120px;
    
    align-self: center;
    justify-self: center;
    transition: 0.3s;
    margin: 2em;
    filter: grayscale(100%);
}

.linguagem:hover{
    margin-top: 0;
    padding-left: 20px;
    height: 150px;
    width: 150px;

    transform: translate(-5px, -5px);
    filter: grayscale(0%);
    cursor: pointer;
}

.seta{
    padding: 10px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(135deg);
}

#voltar {
    transition: 0.3s;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: rgb(31, 255, 31);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 100%;
}

#voltar:hover {
    background-color: darkgreen;
}


h3{
    padding: 10px;
}


#projetos{
    padding: 2em;
    padding-top: 2em;
    font-size: 35px;}

.projetos{
    padding-top: 1em;
    font-size: 35px;
}

.projetos li{
    list-style: none;
    padding: 1em}

.projetos a{
    font-size: 40px;
    color: #059862;
}

/*Formulário*/

#contato {
    padding-top: 4em;
    text-align: center;
}

#contato h2 {
margin-bottom: 30px;
}

form {
color: #ECECF1;
max-width: 500px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 10px;
font-size: 18px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #45a049;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

button[type="submit"]:hover {
background-color: #45a049;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #ECECF1;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

button[type="submit"]:hover {
background-color: #45a049;
box-shadow: 0px 3px 7px rgba(0,0,0,0.7);
}


/*FIM do MAIN*/



/*FOOTER Do Site*/

footer{
    padding-top: 4em;
    background-color: #070C15;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;}

.creditos-ia{
    font-size: larger;
    padding: 8vh;
    letter-spacing: 2px;
}
.creditos-ia .logoblue{
    width: 12vh;
    height: 12vh;
}
